BITQUERY_API_KEY=your_bitquery_api_key
BITQUERY_STREAM_URL=wss://streaming.bitquery.io/graphql
WHALE_USD_THRESHOLD=1500000
TRADE_MIN_USD=100000
BACKFILL_MINUTES=0
RAW_DATA_DIR=./raw_data
LOG_LEVEL=INFO
ENABLED_TOKENS=ETH,SOL
ENABLED_CATEGORIES=transfers
MAX_ACTIVE_STREAMS=2
